body {
    margin: 0;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 35px);
}
.container {
    display: flex; 
}
.box {
    width: 35px;
    height: 35px;
}
.white {
    background-color: #f0f0f0;
}
.pink {
    background-color: #e2697d;
}
.red {
    background-color: #992433;
}