* {
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    background-color: #FFE4E5;
    
}
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    background-color: #A8A7AB;
    z-index: 9999;

}
/* i {
    padding: 10px;
} */
h1 {
    align-self: center;
}
.dropdown {
    width: 10%;
    border: none;
    background-color: #005D77;
    position: relative;
    display: inline-block;
    
}
.dropbtn {
    background-color: #005D77;
    width: 100%;
    border: none;
    font-size: 30px;
    height: 10px;
    color:#A8A7AB;
    font-weight: bold;
    margin-top: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7FD1AE;
    min-width: 160px;
    margin-top: 19px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    background-color: #9dfed4;
  }
.title {
    text-align: center;
    margin-top: 80px;
    margin-right: 50px;
    font-size: 50px; 
    /* border: 3px solid red;   */
}
 .form {
    display: flex;
    justify-content: center;
    align-items: center; 
 }
.form-div {
    display: flex;
    width: 50vw;
    justify-content: center; 
    align-items: center;
    background-color: rgba(168, 167, 171, 0.5);
    font-weight: bold;
    border-radius: 10px; 
    /* border: 3px solid red; */


}
input{
    margin: 15px 0px 15px 20px;
    width: 80%;
    border: none;
}
input[type=submit] {
    display: block;
    margin: auto auto;
    width: 50%;
    margin-bottom: 10px;
}

input[type=submit]:hover {
    background-color: #2B2A2D;
    color: white;
    transition: 1ms;
    cursor: pointer;
}
.footer-div {
position: sticky;
bottom: 0;
left: 0;
display: flex;
justify-content: center;
align-items: flex-end;
width: 100%;
height: 70px;
margin: 0px;
}
.footer-div > p {
    text-align: center;
    width: 33%;
}
@media screen and (min-width: 600px) and (max-width: 767px) {
    #navbar {
        justify-content: space-around;
       }
       .dropbtn {
        margin-top: 0;
        width: 22vw;
        height: 12vh;
       }
    .dropdown-content {
        margin-top: 0;
    }
    .title {
        margin-top: 2em;
    }
}