* {
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    background-color: #FFE4E5;
    
}
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    background-color: #A8A7AB;

}
i {
    padding: 10px;
}
h1 {
    margin-left: 70px;
    font-weight: bold;
}
.dropdown {
    width: 10%;
    border: none;
    background-color: #005D77;
    position: relative;
    display: inline-block;
    
}
.dropbtn {
    background-color: #005D77;
    width: 100%;
    border: none;
    font-size: 30px;
    height: 10px;
    color:#A8A7AB;
    font-weight: bold;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7FD1AE;
    min-width: 160px;
    margin-top: 29.5px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}

img {
    display: block;
    padding: 150px;
    margin: auto auto;
    justify-content: center;
    width: 600px;
    height: 800px;
    border-radius: 20%;
}
.footer-div {
position: sticky;
bottom: 0;
left: 0;
display: flex;
justify-content: center;
align-items: flex-end;
width: 100%;
height: 70px;
margin: 0px;
}
.footer-div > p {
    text-align: center;
    width: 33%;
}