* {
margin: 0;
padding: 0;
}

body {
    background-image: url(giphy.gif);
}

#details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6em;
}

#information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid yellow;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    color: white;
    line-height: 2;
}

#information h1 {
  font-size: 40px;
}
button {
    margin: 20px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: 5px solid yellow;
    cursor: pointer;
}
