* {
    margin:0
}
body {
    background-color: #F9EAFF;
}
.autocomplete input {
    width: 15em;
    background-color: #a29b9b88;
    height: 2em;
    margin-top: 1em;
    border: none;
    border-radius: 5px;
}
.autocomplete ul {
    display: flex;
    text-align: left;
    list-style: none;
}
.autocomplete ul li:hover {
    cursor: pointer;
 }

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #020dd873;
}
.nav h1 {
    margin-left: 20px;
}
.nav div {
    margin-right: 20px;
}
.nav div button {
    margin: 10px;
    border: none;
    background-color: #F9EAFF;
    border-radius: 40px;
    padding: 20px;
    cursor: pointer;
}
.cityList {
    padding: 20px;
}
.cityList li {
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    padding: 7px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 5em;
    height: 5em;
}
.weatherDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weatherDiv button {
    position: relative;
    bottom: 1.5em;
    margin: 1em;
    padding: 1em;
    border:none;
    background-color: #020dd873;
    border-radius: 30px;
    cursor: pointer;
}
.cityWeather {
    position: relative;
    bottom: 1em;
    display: flex;
    align-items: center;
}
.cityWeather img {
    width: 90px;
    height: 60px;
}
.forecastDiv {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}
.forecastDiv .forecast {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 40vh;
    margin: 2em;
    border-radius: 20px;
    line-height: 2.5;
    background-color: #020dd873;
    color: #F9EAFF;
}
.forecastDiv .forecast img {
    width: 60px;
    height: 60px;
}