.card-img {
    height: 105vh;
    width: 100%;
} 
nav {
    font-size: 20px;
    top: 0;
}
.navbar-nav {
    font-size: 16px;
}
li {
    margin: 10px;
}
.card-title {
    color: rgb(208, 190, 190);
    margin-top: 2em;
    padding: 2em;
      
}
.icon {
    display: flex;
    justify-content: center;
    width: 5vw;
}
.card-body {
    margin: 0;
}
.card-body button {
    margin: 1.5em;

}
.row {
    margin: 0;
}