.App {
  text-align: center;
}
body {
  background-color: #b55e5e;
}
.divContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: left;
  align-items: flex-start;
  margin: 1em;
  text-align: left;
  background-color: #6a5eb5;
}
.container h3, h1 {
  margin: 0.5em;
}
.iconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
h1 {
  font-size: 50px;
}
